/* 1. Universal Styles
   2. Main Page Container
   3. Header
   4. Main Content
   5. Club Info Section
   6. Club Photo Gallery
   7. Industry Partners 
   8. Footer
*/


/* 1. Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
}

body {
    background: #fdfff5;
    height: 100%;
}

a {
    text-decoration: none;
    color: #ffa600;
}

a:hover {
    color: black;
}

p {
    line-height: 1.6rem;
}

h2 {
    font-family: 'Permanent Marker', cursive;
}

span {
    font-size: 1.5rem;
    font-weight: 800;
}


/* 2. Main Page Container */

.container {
    display: flex;
    flex-direction: column;
    /* Background Image */
    background-image: url(./images/isle-of-wight-cheese-gallybagger-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


/* 3. Header */

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 7rem;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    position: fixed;
    background-color: #fdfff5;
    /* Bottom shadow */
    -webkit-box-shadow: 0 8px 6px -6px #736357;
    -moz-box-shadow: 0 8px 6px -6px #736357;
    box-shadow: 0 8px 6px -6px #736357;
}

.header h1 {
    padding-bottom: 1.5rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    text-align: center;
    flex-shrink: 1;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.nav-list li {
    flex-grow: 0;
    flex-shrink: 1;
}


/* Styles for Mobile Devices */

@media only screen and (max-width: 480px) {
    .header h1 {
        font-size: 1.1rem;
    }
    .nav-list li {
        font-size: 0.7rem;
    }
}


/* 4. Main Content */

.banner {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-image: url(./images/creamery2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.banner h1 {
    font-weight: bold;
    font-size: 3.5rem;
    color: #fdfff5;
}


/* Styles for Mobile Devices */

@media only screen and (max-width: 480px) {
    .banner {
        height: 35vh;
    }
    .banner h1 {
        font-size: 1.7rem;
        text-align: center;
    }
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 7rem;
}


/* 5. Club Info Section */

.club {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1%;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 25rem;
    background-color: #fdfff5;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100%;
    width: 60%;
    gap: 1.5rem;
    text-align: flex-start;
    flex-shrink: 1;
}

img {
    height: 15rem;
    width: 15rem;
    flex-shrink: 1;
}

.about a {
    color: black;
}


/* Styles for Mobile Devices */

@media only screen and (max-width: 480px) {
    .club {
        flex-direction: column;
        height: 80vh;
        padding: 2rem 0 1rem;
    }
    .about {
        height: 100%;
        /* Reducing font size */
        font-size: 0.875rem;
        /* Removing gap between paragraphs */
        gap: 0rem;
    }
    span {
        font-size: 1.2rem;
    }
    /* Reducing image size for mobile */
    img {
        height: 7rem;
        width: 7rem;
    }
}


/* 6. Club Photo Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2% 0;
    padding: 3rem;
    justify-content: space-evenly;
    background-color: #fdfff5;
}

.gallery img {
    width: 17rem;
    height: auto;
    flex-shrink: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* Styles for Mobile Devices */


/* Reducing padding */

@media only screen and (max-width: 480px) {
    /* Reducing padding */
    .gallery {
        padding: 1.5rem 1rem;
    }
    /* Increasing line height so text is easier to read */
    .section-header {
        line-height: 1.6;
    }
    /* Reducing font size */
    .section-header h3 {
        font-size: 1.2rem;
    }
}


/* 7. Industry Partners Section */

.community {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    background-color: #fdfff5;
}

.section-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    padding: 2.5rem;
    text-align: center;
}

.section-header h2 {
    padding: 1rem;
}

.section-header p {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
}

.partners p {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    padding-bottom: 2.5rem;
}

.partners img {
    width: auto;
    height: 50%
}

.logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


/* Styles for Mobile Devices */

@media only screen and (max-width: 480px) {
    /* Reducing font size */
    .partners p {
        font-size: 2rem;
        padding-bottom: 1.5rem;
        text-align: center;
    }
    .partners {
        /* Changing flex direction so items display next to eachother */
        flex-direction: row;
        /* Reducing gap between logos */
        gap: 1rem;
    }
    /* Aliging partner logos so they stack on top of eachother */
    .logos {
        justify-content: center;
        align-items: center;
        height: 75%;
    }
    /* Reducing logo size for mobile */
    .partners img {
        width: 75%;
        height: auto;
    }
    /* Sized the appel farms logo separately to match better with other logos */
    #appel {
        width: 75%;
        margin: 0 auto;
    }
}


/* 8. Footer */

footer {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0.75%;
    background-color: #736357;
    color: #fdfff5;
}


/* Reducing font size */

@media only screen and (max-width: 480px) {
    footer {
        font-size: 0.75rem;
    }
}